{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}
<article>
  <header>
    <h1 class="text-primary">{{ .Title }}</h1>
    <div class="post-meta clearfix">
      <div class="pull-left">
        {{ range .Params.tags }}
        <span class="post-tag small"><a href="{{ $baseurl }}/tags/{{ . | urlize }}">#{{ . }}</a></span>
        {{ end }}
      </div>

      {{ if (isset .Params "noshowdate")  }}
    {{ else }}
      <div class="post-date pull-right">
        Posted on
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
          {{ .Date.Format "2006.1.2" }}
        </time>
      </div>
    {{ end }}
    </div>
  </header>
  <section class="article-body">
    {{ .Content }}
  </section>
  <footer>
    {{ if (isset .Params "nocomments")  }}
    {{ else }}
    {{ with .Site.Params.disqus }}
    <hr/>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = '{{ . }}';
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {{ end }}
    {{ end }}


    {{ if eq .Params.author "shota" }}
    <section class="author-info row">
      <div class="author-avatar col-md-2">
        {{ with .Site.Data.profile.shota.avator }}
        <img alt="Author Avatar" src="{{ . }}"/>
        {{ end }}
      </div>
      <div class="author-meta col-md-10">
        {{ with .Site.Data.profile.shota.name }}
        <h1 class="author-name text-primary">{{ . }}</h1>
        {{ end }}
        {{ with .Site.Data.profile.shota.bio }}
        <div class="author-bio">{{ . }}</div>
        {{ end }}
      </div>
    </section>
    {{ end }}
    {{ if eq .Params.author "shiori" }}
    <section class="author-info row">
      <div class="author-avatar col-md-2">
        {{ with .Site.Data.profile.shiori.avator }}
        <img alt="Author Avatar" src="{{ . }}"/>
        {{ end }}
      </div>
      <div class="author-meta col-md-10">
        {{ with .Site.Data.profile.shiori.name }}
        <h1 class="author-name text-primary">{{ . }}</h1>
        {{ end }}
        {{ with .Site.Data.profile.shiori.bio }}
        <div class="author-bio">{{ . }}</div>
        {{ end }}
      </div>
    </section>
    {{ end }}
    <ul class="pager">
      {{ if .Next }}
      <li class="previous"><a href="{{ .Next.Permalink }}"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Older</a></li>
      {{ else }}
      <li class="previous disabled"><a href="#!"><span aria-hidden="true">&larr;</span> Older</a></li>
      {{ end }}

      <li class="home"><a href="{{ .Site.BaseURL }}"><i class="fa fa-home"></i> Home</a></li>

      {{ if .Prev }}
      <li class="next"><a href="{{ .Prev.Permalink }}">Newer <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></li>
      {{ else }}
      <li class="next disabled"><a href="#!">Newer <span aria-hidden="true">&rarr;</span></a></li>
      {{ end }}
    </ul>
  </footer>
</article>

{{ partial "footer.html" . }}
