{{ if ne .URL "/" }}
{{ $title :=  printf "%s - %s" .Title .Site.Title }}
<a href='https://twitter.com/intent/tweet?text={{ $title | safeURL }}{{ "\n" | safeURL }}{{ .Permalink | safeURL }}'
   target="_blank">
  <i class="fa fa-twitter"></i>
</a>
{{ else }}
{{ $title := .Site.Title }}
<a href='https://twitter.com/intent/tweet?text={{ $title | safeURL }}{{ "\n" | safeURL }}{{ .Permalink | safeURL }}'
   target="_blank">
  <i class="fa fa-twitter"></i>
</a>
{{ end }}

<a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | safeURL }}" target="_blank">
  <i class="fa fa-facebook"></i>
</a>
